apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: example-apps
  namespace: argocd
spec:
  project: apps
  source:
    repoURL: "https://github.com/miruohotspring/web-app-template.git"
    targetRevision: HEAD
    path: infra/argocd
    directory:
      recurse: true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
