apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: example-apps
  namespace: argocd
spec:
  project: apps
  source:
    repoURL: git@github.com:miruohotspring/web-app-example-git-ops.git
    targetRevision: main
    path: infra/argocd
    directory:
      recurse: true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
