concourse:
  web:
    externalUrl: https://concourse.miruohotspring.net
    auth:
      mainTeam:
        localUser: admin
    localAuth:
      enabled: true
  worker:
    replicas: 1

web:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - concourse.miruohotspring.net

worker:
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: "1"
      memory: 2Gi

postgresql:
  enabled: true
  image:
    repository: bitnami/postgresql
    tag: 17.5.0
  primary:
    extraEnvVars:
      - name: OPENSSL_FIPS
        value: "no"
  persistence:
    enabled: true
    storageClass: local-path
    size: 10Gi

secrets:
  # Manage concourse-web / concourse-worker Secrets via SealedSecret (GitOps)
  create: false
