concourse:
  web:
    externalUrl: https://concourse.miruohotspring.net
    auth:
      mainTeam:
        localUser: admin
  worker:
    replicas: 1

web:
  env:
    - name: CONCOURSE_ADD_LOCAL_USER
      valueFrom:
        secretKeyRef:
          name: concourse-admin
          key: local-users
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - concourse.miruohotspring.net

worker:
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: "1"
      memory: 2Gi

postgresql:
  enabled: true
  persistence:
    enabled: true
    storageClass: local-path
    size: 10Gi
